<!DOCTYPE html>
    <%-include("../partials/headAdmin")%>
<body>
    <%-include("../partials/headerAdmin")%>

    <main class="addP">

        <h2><%=postHeader%></h2>
        <form action="/admin/productos" method="POST" enctype="multipart/form-data" id="form">
            <div class="inp-cont">
                <label for="name">Nombre del producto</label>
                <input type="text" name="name" placeholder="Ej: Te Chino" id="name">
                <span id="nameError" class="spanError"></span>
            </div>

            <div class="inp-cont-category">
                
                <label for="category">Categoria del Producto</label>
                <div class="divCategory" id="divCategoryFather">
                <% category.forEach( (e) => {  %> 
                    <div>
                        <label class="labelCategories">
                            <input type="radio" name="category" value="<%=e.id%>" id="category" class="inputCategory">
                            <%=e.name%>
                        </label>
                    </div>
                <% }) %> 
                </div>
                <span id="categoryError" class="spanError"></span>
            </div>

            <div class="inp-cont">
                <label for="price">Precio</label>
                <input type="number" name="price" placeholder="Ej: 500" id="price">
                <span id="priceError" class="spanError"></span>
            </div>

            <div class="inp-cont">
                <label for="stock">Stock del Producto</label>
                <input type="number" name="stock" placeholder="Ej: 5" id="stock">
                <span id="stockError" class="spanError"></span>
            </div>

            <div class="inp-cont">
                <label for="discount">Descuento</label>
                <input type="number" name="discount" placeholder="Ej: 10 o 20%" id="discount" min="1" max="100">
                <span id="discountError" class="spanError"></span>
                 
            </div>

            <div class="inp-cont">
                <label for="description">Descripción del producto</label>
                <textarea name="description" id="description" cols="25" rows="10" placeholder="Descripción detallada del producto"></textarea>
                <span id="descriptionError" class="spanError"></span>
            </div>

            <div class="inp-cont">
                <label for="ingredients" class="label-ing">Ingresar ingredientes:</label>
                <div class="check-ing">
                    <input type="text" name="ingredient1" placeholder="Ej: pétalos" class="ingrediente" id="ingredient1">
                    <span id="ingredient1Error" class="spanError"></span>
                    <input type="text" name="ingredient2" placeholder="Ej: pétalos" class="ingrediente" id="ingredient2">
                    <span id="ingredient2Error" class="spanError"></span>
                    <input type="text" name="ingredient3" placeholder="Ej: pétalos" class="ingrediente" id="ingredient3">
                    <span id="ingredient3Error" class="spanError"></span>
                </div>
            </div>

            <div class="inp-cont">
                <label for="coment">Comentario adicional</label>
                <textarea name="coment" id="coment" cols="25" rows="10" placeholder="Comentario adicional sobre el producto"></textarea>
                <span id="comentError" class="spanError"></span>
            </div>

            <div class="inp-cont file-cont">
                <label for="image"><i class="fa-solid fa-file-arrow-up"></i> Cargar Imagenes</label>
                <input type="file" name="image" id="image" multiple>
            </div>

            <div class="inp-cont">
                <button type="submit" class="btn-add">Crear</button>
                <span id="submitError" class="spanError"></span>
            </div>
        </form>

        <div class="backTo">
            <a href="/admin"><i class="fa-solid fa-circle-arrow-left"></i> Volver</a>
        </div>
    </main>

    <script src="/js/adminJs/adminValidatorProducts.js"></script>

    <%-include("../partials/footerAdmin")%>
</body>
</html>