<!DOCTYPE html>
    <%-include("../partials/headAdmin")%>
<body>
    <%-include("../partials/headerAdmin")%>
    
    <main class="addP">

        <h2><%=postHeader%></h2>
        <form action="/admin/users/editUser/<%-user.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="inp-cont">
                <label for="name">Nombre</label>
                <div class="input_icon">
                    <input type="text" name="name" placeholder="Juan" id="input__create__name" value="<%=user.name%>">
                    <i id="icon__create__name"></i>
                </div>
                <% if (locals.errors && errors.name) { %>
                    <span class="error-message text-danger"><%= errors.name.msg %> </span>
                 <% } %>
            </div>

            <div class="inp-cont">
                <label for="surname">Apellido</label>
                <div class="input_icon">
                    <input type="text" name="surname" placeholder="Perez" id="input__create__surname" value="<%=user.surname%>">
                    <i id="icon__create__surname"></i>
                </div>
                <% if (locals.errors && errors.surname) { %>
                    <span class="error-message text-danger"><%= errors.surname.msg %> </span>
                 <% } %>
            </div>

            <div class="inp-cont">
                <label for="email">Email</label>
                <div class="input_icon">
                    <input type="text" name="email" placeholder="user@mail.com" id="input__create__email" value="<%=user.email%>">
                    <i id="icon__create__email"></i>
                </div>
                <% if (locals.errors && errors.email) { %>
                    <span class="error-message text-danger"><%= errors.email.msg %> </span>
                 <% } %>
            </div>

            <div class="inp-cont">
                <label for="rol">Rol de usuario</label>
                <input type="number" name="rol" placeholder="0 para user / 1 para admin" id="rol" value="<%=user.rol%>">
            </div>

            <div class="inp-cont file-cont">
                <label for="avatar"><i class="fa-solid fa-file-arrow-up"></i>Foto de perfil</label>
                <input type="file" name="avatar" id="avatar">
                <span id="file__error"></span>
                <% if (locals.errors && errors.avatar) { %>
                    <span class="error-message text-danger"><%= errors.avatar.msg %> </span>
                 <% } %>
            </div>

            <div class="inp-cont">
                <label for="location">Domicilio</label>
                <input type="text" name="location" placeholder="Ej: Pilar 240" id="location" value="<%=user.address%>">
            </div>

            <div class="inp-cont">
                <button type="submit" class="btn-add">Editar</button>
            </div>
        </form>

        <div class="backTo">
            <a href="/admin"><i class="fa-solid fa-circle-arrow-left"></i> Volver</a>
        </div>
    </main>

    <%-include("../partials/footerAdmin")%>
    <script src="/js/adminJs/editValidator.js"></script>
</body>
</html>