<!DOCTYPE html>
<html lang="es-AR">
<%-include("../partials/head")%>

<body >

    <%-include("../partials/header")%>
    
    <main class="back-grad products__filter">

        <section>
            <article class="back-grad">

                <div class="container-products">
                    <h3>TODOS NUESTROS PRODUCTOS</h3>
                    <% productos.forEach(producto => { %>
                        <% if (producto.offer == 1) { %>
                            
                            <div class="item-products">
                                <a href="/producto/<%=producto.id%>">
                                    <img src="/img/products/<%=producto.images[0].src%>" alt="<%=producto.name%>" class="img-products">
                                    <div>
                                        <h4><%=producto.name%></h4>
                                        <p class="offer">$<%=(producto.price - (producto.price * (producto.discount / 100)))%></p>
                                        <p class="actual">$<%=producto.price%></p>
                                    </div>
                                </a>
                            </div>
                            
                        <% } %>
                    <% }) %>
                    <% productos.forEach(producto => { %>
                        <% if(producto.offer == 0){%>
                            <div class="item-products">
                                <a href="/producto/<%=producto.id%>">
                                    <img src="/img/products/<%=producto.images[0].src%>" alt="<%=producto.name%>" class="img-products">
                                    <div>
                                        <h4><%=producto.name%></h4>
                                        <p class="actual">$<%=producto.price%></p>
                                    </div>
                                </a>
                            </div>
    
                        <% } %>
                    <% }) %>

                </div>

            </article>

        </section>
    </main>
    <%-include("../partials/footer")%>
    <script src="/js/products/productsFilter.js"></script>
</body>
</html>