<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>

    <main class="back-grad">
        <section >
            <article>
                <div class="containerCaja1-2" >
                    <div class="primerCaja" >
                        <h2><%=producto.name%></h2>
                        <div class="container carousel-edit1">
                          <div id="carouselExampleIndicators" class="carousel slide d-flex justify-content-center" data-bs-ride="carousel" >
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <% if (producto.images[2].src) {%>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                              <%}%>
                            </div>
                            <div class="carousel-inner carousel-img">
                              <div class="carousel-item active">
                                <img src="/img/products/<%=producto.images[0].src%>" class="d-block carousel-img" object-fit="cover">
                              </div>
                              <div class="carousel-item">
                                <img src="/img/products/<%=producto.images[1].src%>" class="d-block carousel-img" object-fit="cover">
                              </div>
                              <% if(producto.images[2].src) {%>
                                <div class="carousel-item">
                                    <img src="/img/products/<%=producto.images[2].src%>" class="d-block carousel-img" object-fit="cover">
                                </div>
                              <%}%>  
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        </div>
                        
                        <div class="tercerCaja"> 
                                <input type="button" value="Comprar ya!">
                                <input type="button" value="Agregar al Carrito">
                        </div>
                    </div>
                        
                    <div class="segundaCaja">
                        <h2>Detalles</h2>
                        <p>-<%=producto.description%> </p>
                        <p class="precio">$<%=producto.price%></p>
                        <% if(producto.ingredients > 0){ %>
                            <p>Ingredientes:</p>
                            <ul>
                                <% for(let i = 0; i < producto.ingredients.length; i++) { %>
                                <li><%= producto.ingredients[i].name%></li>
                                <%}%>
                            </ul>
                         <%}%>
                        
                        <p><%=producto.coment%></p>
                    </div>
                </div>

                

                <div class="cuartaCaja">
                    <h2>Comentarios</h2>
                    <div>
                        <p><strong>De: MiguelAngel</strong> <br> muy buen te la verdad!</p><hr>
                        <p><strong>De: GomezAgustin </strong><br> me gusto el te y su presentacion, tambien la puntualidad en la que me llego! lo recomiendo</bt></p><hr>
                        <p><strong>De: AnaliaRossi </strong> <br> qur rico te! lastima el pequeño inconveniente que hubo con la forma de pago pero lo demas todo bien</p><hr>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%-include("../partials/footer")%>
    
</body>
</html>