<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head")%>
<body>
    <%-include("./partials/header")%>

    <main>
        <section>
            <article>
                <div class="containerCaja1-2">
                    <div class="primerCaja">
                        <h2>Te Verde en Hebras</h2>
                        <div class="img-container">
                            <img src="/img/products/<%=productoSolicitado.image[0]%>">
                            <img src="/img/products/<%=productoSolicitado.image[1]%>">
                        </div>
                        <div class="tercerCaja"> 
                                <select name="" id="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                                <input type="button" value="Comprar ya!">
                                <input type="button" value="Agregar al Carrito">
                        </div>
                    </div>
                        
                    <div class="segundaCaja">
                        <h2>Detalles</h2>
                        <p>-Te verde en Hebras, el favorito de todos, por su frescura y su dejo frutal </p>
                        <p class="precio">$350</p>
                        <p>Ingredientes:</p>
                        <ul>
                            <li>Hebras de Yunnan</li>
                            <li>arandanos rojos</li>
                            <li>petalos de rosas</li>
                            <li>cardamomo</li>
                            <li>con aroma frutal</li>
                        </ul>
                        <p>Excelente mezcla de sabores para disfrutar de un rico te por la tarde!</p>
                    </div>
                </div>

                

                <div class="cuartaCaja">
                    <h2>Comentarios</h2>
                    <div>
                        <p><strong>De: MiguelAngel</strong> <br> muy buen te la verdad!</p><hr>
                        <p><strong>De: GomezAgustin </strong><br> me gusto el te y su presentacion, tambien la puntualidad en la que me llego! lo recomiendo</bt></p><hr>
                        <p><strong>De: AnaliaRossi </strong> <br> qur rico te! lastima el pequeño inconveniente que hubo con la forma de pago pero lo demas todo bien</p><hr>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%-include("./partials/footer")%>
    <script src="/js/index.js"></script>
</body>
</html>