<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head")%>
<body>
    <%-include("./partials/header")%>

    <main class="back-grad">
        <section>
            <article>
                <div class="containerCaja1-2">
                    <div class="primerCaja">
                        <h2><%=productoSolicitado.name%></h2>
                        <div class="img-container">
                            <img src="/img/products/<%=productoSolicitado.image[0]%>">
                            <img src="/img/products/<%=productoSolicitado.image[1]%>">
                        </div>
                        <div class="tercerCaja"> 
                                <select name="" id="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                                <input type="button" value="Comprar ya!">
                                <input type="button" value="Agregar al Carrito">
                        </div>
                    </div>
                        
                    <div class="segundaCaja">
                        <h2>Detalles</h2>
                        <p>-<%=productoSolicitado.description%> </p>
                        <p class="precio"><%=productoSolicitado.price%></p>
                        <% if(productoSolicitado.ingredients){ %>
                            <p>Ingredientes:</p>
                            <ul>
                                <% for(let i = 0; i < productoSolicitado.ingredients.length; i++) { %>
                                <li><%= productoSolicitado.ingredients[i]%></li>
                                <%}%>
                            </ul>
                         <%}%>
                        
                        <p><%=productoSolicitado.coment%></p>
                    </div>
                </div>

                

                <div class="cuartaCaja">
                    <h2>Comentarios</h2>
                    <div>
                        <p><strong>De: MiguelAngel</strong> <br> muy buen te la verdad!</p><hr>
                        <p><strong>De: GomezAgustin </strong><br> me gusto el te y su presentacion, tambien la puntualidad en la que me llego! lo recomiendo</bt></p><hr>
                        <p><strong>De: AnaliaRossi </strong> <br> qur rico te! lastima el pequeño inconveniente que hubo con la forma de pago pero lo demas todo bien</p><hr>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%-include("./partials/footer")%>
    <script src="/js/index.js"></script>
</body>
</html>