<!DOCTYPE html>
<html lang="en">
<%-include ("../partials/head")%> 

<body class="back-grad">

   <%-include("../partials/header")%> 
    <main class="login" id="mainLoginPrincipal">
        <section class="lg-container register" id="sectionLogin">
            <h2>Iniciar sesion</h2>
            <hr>
            <form action="/login" method="post">
                <div class="input-container">
                    <div class="input_icon">
                        <input type="email" class="input-style" name="email" placeholder="Ingrese su email" id="input__login__email" value="<%=(locals.old && old.email) ? old.email : ""%>">
                        <i id="icon__login__email"></i>
                    </div>
                    <% if (locals.errors && errors.email) { %>
                        <span class="error-message"><%=errors.email.msg%></span>
                    <% } %>
                </div>
                <div class="input-container">
                    <div class="input_icon">
                        <input type="password" class="input-style" name="pass" id="input__login__pass" placeholder="Ingrese su contrase単a">
                        <i id="icon__login__pass"></i>
                    </div>
                    <% if (locals.errors && errors.pass) { %>
                        <span class="error-message"><%=errors.pass.msg%></span>
                    <% } %>
                </div>

                <div class="input-container text-center">
                    <label for="remember">
                        Recordarme
                        <input type="checkbox" name="remember" id="remember">
                    </label>

                </div>

            
                <div class="btn-container">
                    <button type="submit" class="btn btn-submit">Ingresar</button>
                </div>
                <span id="olvidoContrasenia"><a  href="">多Olvidaste tu contrase単a?</a></span>
                <span id="center"><a  href="/register">多No tenes cuenta? Registrate</a></span>
            </form>
    
        </section>
    </main>     
    <script src="/js/login.js"></script>          
    
    <%-include("../partials/footer")%>
   <script src="js/validationsFront/loginValidations.js"></script>
</body>
</html>