<!DOCTYPE html>
<html lang="es-AR">
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>

    <main class="back-grad__profile">
        <section class="profile__body" id="sectionProfileA">
            <article class="profile__avatar">
                <div>
                    <div>
                        <img src="<%=user.avatar%>" alt="<%=user.name%>" id="avatarProfile">
                    </div>
                    <div>
                        <a href="/profile/<%-user.id-%>">Editar mi perfil</a>
                    </div>
                </div>
                <div>
                    <form action="/profile/change/<%-user.id%>?_method=put" method="post" id="formChange">
                        <a href="/profile/change/<%-user.id %> ">Cambiar contraseña</a>
                    </form>
                    <form action="/profile/delete/<%-user.id%>?_method=delete" method="post" id="formDelete">
                        <button type="submit" id="deleteCount" class="btn__profile">eliminar mi cuenta</button>
                    </form>
                </div>
            </article>
            <article class="profile__data">
                <div class="profile__data__container">
                    <h5 class="profile__data__h5"><b>Nombre</b></h5>
                    <p class="profile__data__p"><%=user.name%></p>
                </div>
                <div class="profile__data__container">
                    <h5 class="profile__data__h5"><b>Apellido</b></h5>
                    <p class="profile__data__p"><%=user.surname%></p>
                </div>
                <div class="profile__data__container">
                    <h5 class="profile__data__h5"><b>Corre electronico</b></h5>
                    <p class="profile__data__p"><%=user.email%></p>
                </div>
                <div class="profile__data__container">
                    <h5 class="profile__data__h5"><b>Domicilio</b></h5>
                    <p class="profile__data__p"><%=user.address.location%></p>
                </div>
            </article>
        </section>
    </main>
    <script src="/js/profile.js"></script> 

    <%-include("../partials/footer")%>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/sweetalert.js"></script>
</body>
</html>